/* Global */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,600");

// -------------------
// breakpoint 변수 정의
// -------------------
$breakpoints: (
  sp: 480px,
  tab: 768px,
  pc: 1024px,
);

// -------------------
// 미디어쿼리용 mixin
// -------------------
@mixin mq($device) {
  @if map-has-key($breakpoints, $device) {
    @media (max-width: map-get($breakpoints, $device)) {
      @content;
    }
  }
}

// -------------------
// View Helper
// -------------------

// SP 전용 <br> / 요소 (0 ~ 767px)
.view_sp {
  display: inline; // <br> 기본 display

  // SP 영역에서만 보이기
  @include mq(tab) {
    display: inline;
  }

  // Tablet 이상 (768px 이상)에서는 숨기기
  @media (min-width: map-get($breakpoints, tab)) {
    display: none;
  }
}

// Tablet + PC 전용
.view_pc-tab {
  display: none; // 기본값 숨김

  // Tablet 이상에서 보이기
  @media (min-width: map-get($breakpoints, tab)) {
    display: block;
  }
}

// PC 전용
.view_pc {
  display: none; // 기본값 숨김

  // PC 이상에서 보이기
  @media (min-width: map-get($breakpoints, pc)) {
    display: block;
  }
}

.txt_basic {
  @include mq(sp) {
    text-align: left;
  }
}

.box {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.6s ease-in-out;
}

/* 스크롤 시 보여질 때 클래스 추가 */
.box.visible {
  opacity: 1;
  transform: scale(1);
}

// -----------------------
// Responsive: 예시 SP/PC 조정
// -----------------------

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-purple: #af8eb5;
  --color-blue-grey: #607d8b;
  --color-midium-bluegrey: #34515e;
  --color-dark-blue-grey: #263238;
  --color-instagram: #cd1460;
  --color-background-black: #1a1b1e;
  --color-dark-indigo: #9499b7;
  --color-light-green: #9ccc65;
  --color-lighter-green: #f8ffd7;
  --color-dark-green: #94af76;
  --color-dark-grey: #424242;
  --color-main-yellow: #ffb300;

  @include mq(sp) {
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-tiny: 12px;
  }

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-tiny: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 5px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Poppins";
  cursor: default;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  /* color: var(--color-dark-blue-grey); */
  margin: 16px 0;
}

/* h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-blue-grey);
  margin: 8px 0;
} */

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-blue-grey);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-blue-grey);
  margin: 4px 0;
  line-height: 1.8;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--color-light-white);
}

/* li {
  list-style: none;
} */

/* ==================================================
  HEADER
================================================== */

.header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%); // 중앙 정렬
  width: 90%;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 2;
  padding: 4px 0;
  backdrop-filter: blur(10px); /* 글래스 모피즘 블러 */
  background: rgba(255, 255, 255, 0.1); /* 반투명 배경 */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  @include mq(sp) {
    padding: 1rem;
  }

  .header__con {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    .header__logo__title {
      a {
        text-decoration: none;
        color: var(--color-light-white);
        font-family: "Pacifico", cursive;
        @include mq(sp) {
          font-size: 0.8rem;
        }
      }
    }

    .header__nav {
      .header__menu {
        display: flex;
        gap: 0.5rem;

        @include mq(sp) {
          position: fixed;
          top: 50px;
          left: -100%; // 초기 화면 밖
          width: 100%;
          flex-direction: column;
          gap: 16px;
          padding: 1rem;
          text-align: center;
          border-radius: 12px;
          background: rgba(255, 255, 255, 0.12); // 글래스모피즘 배경
          backdrop-filter: blur(12px);
          box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
          transition: all 0.4s ease-in-out;
          z-index: 50;
        }
        &__item {
          padding: 8px 16px;
          border-radius: 12px;
          cursor: pointer;
          background: transparent; // 기본 투명
          backdrop-filter: blur(0px); // 블러 없음
          color: #fff;
          transition: all 0.3s ease-in-out;
          box-shadow: none;

          @include mq(sp) {
            margin: 16px 0;
          }
          &:hover {
            background: rgba(255, 255, 255, 0.2); // 호버 시 유리 느낌
            backdrop-filter: blur(12px); // 블러 적용
            color: #f5f5f5; // 글씨 살짝 밝게
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); // 살짝 떠 있는 느낌
          }
        }
      }
      .header__menu.open {
        @include mq(sp) {
          left: 0;
        }
      }
    }
  }

  .scroller {
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #8a2be2;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: left;
    animation: scroller linear;
    animation-timeline: scroll();
  }
  @keyframes scroller {
    to {
      transform: scale(1, 1);
    }
  }

  &__toggle-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 24px;
    display: none;
    @include mq(sp) {
      display: block;
      color: var(--color-light-white);
      border: none;
      background-color: transparent;
    }
  }
}
.header.light-bg {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%); // 중앙 정렬
  width: 90%;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 2;
  padding: 4px 0;
  backdrop-filter: blur(10px); /* 글래스 모피즘 블러 */
  background: rgba(255, 255, 255, 0.1); /* 반투명 배경 */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  @include mq(sp) {
    padding: 1rem;
  }

  .header__con {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    .header__logo__title {
      a {
        text-decoration: none;
        color: #333;
        font-family: "Pacifico", cursive;
        @include mq(sp) {
          font-size: 0.8rem;
        }
      }
    }

    .header__nav {
      .header__menu {
        display: flex;
        gap: 0.5rem;

        @include mq(sp) {
          position: fixed;
          top: 50px;
          left: -100%; // 초기 화면 밖
          width: 100%;
          flex-direction: column;
          gap: 16px;
          padding: 1rem;
          text-align: center;
          border-radius: 12px;
          background: rgba(255, 255, 255, 0.12); // 글래스모피즘 배경
          backdrop-filter: blur(12px);
          box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
          transition: all 0.4s ease-in-out;
          z-index: 50;
        }
        &__item {
          padding: 8px 16px;
          border-radius: 12px;
          cursor: pointer;
          background: transparent; // 기본 투명
          backdrop-filter: blur(0px); // 블러 없음
          color: #333;
          transition: all 0.3s ease-in-out;
          box-shadow: none;

          @include mq(sp) {
            margin: 16px 0;
          }
          &:hover {
            background: rgba(255, 255, 255, 0.2); // 호버 시 유리 느낌
            backdrop-filter: blur(12px); // 블러 적용
            color: #4a4a4a;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); // 살짝 떠 있는 느낌
          }
        }
      }
      .header__menu.open {
        @include mq(sp) {
          left: 0;
        }
      }
    }
  }

  .scroller {
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #8a2be2;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: left;
    animation: scroller linear;
    animation-timeline: scroll();
  }
  @keyframes scroller {
    to {
      transform: scale(1, 1);
    }
  }

  .header__toggle-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 24px;
    display: none;
    @include mq(sp) {
      display: block;
      color: #333;
      border: none;
      background-color: transparent;
    }
  }
}

/* ==================================================
  HOME
================================================== */
#home {
  background: linear-gradient(rgba(48, 48, 48, 0.3), rgba(0, 0, 0, 0.9)),
    url("img/background.jpg") center/cover no-repeat;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(sp) {
    background: linear-gradient(rgba(48, 48, 48, 0.3), rgba(0, 0, 0, 0.9)),
      url("img/background_sp.jpg") center/cover no-repeat;
  }

  .home__title,
  .home__description {
    color: var(--color-light-white);
  }

  .home__description {
    @include mq(sp) {
      font-size: 1rem;
    }
  }

  .auto_type {
    color: var(--color-main-yellow);
  }
  .neon {
    font-family: Quicksand;
  }
  .neon {
    animation: neon 2s ease infinite;
    -moz-animation: neon 2s ease infinite;
    -webkit-animation: neon 2s ease infinite;
  }

  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 15px #dda0dd, 0 0 25px #8a2be2, 0 0 35px #9400d3,
        0 0 45px #ff00ff;
      color: #ffcbff;
    }
    50% {
      text-shadow: none;
      color: #3d3d3d;
    }
  }
}

/* ==================================================
   Section Common
================================================== */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
  @include mq(tab) {
    padding: 0;
  }
  @include mq(sp) {
    padding: 0;
  }

  &__container {
    margin: auto;
  }
}

/* ==================================================
   About - Profile
================================================== */

#about {
  background: linear-gradient(to bottom, #f2eff5, #eae6f2);
}

.profile__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 100px;

  @include mq(sp) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
  }

  .profile__img {
    width: 300px;
    height: 300px;
    margin-right: 60px;
    @include mq(tab) {
      width: 200px;
      height: 200px;
      margin-right: 0;
      transition: all 0.3s ease;
    }
  }

  .introduction {
    h2 {
      margin: 34px 0;
      font-size: 35px;
    }
    p {
      font-size: 16px;
    }
  }
}

.btn__container {
  padding-top: 42px;
  display: flex;
  justify-content: center;

  .btnPush {
    box-shadow: 0px 5px 0px 0px #cb8e00;
    background: var(--color-main-yellow);

    &:hover {
      margin-top: 15px;
      margin-bottom: 5px;
      box-shadow: none;
    }
  }
  a.button {
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
  }
}

.hr-how {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  border: 0;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px;
  overflow: visible;
  text-align: center;
  &::after {
    background: white;
    content: "AND";
    display: inline-block;
    font: "BodoniXT" !important;
    font-size: 0.9em;
    padding: 0 0.6em;
    position: relative;
    top: -0.7em;
  }
}

.capability {
  h2 {
    font-size: 35px;
    margin: 5rem 0;
  }

  .majors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 1rem 0;

    .major {
      background-color: #f7f8fa;
      padding: 1.5rem 3rem;
      border-radius: 1rem;
      &__img {
        width: 100px;
        height: 100px;
        margin-bottom: 1rem;
        transition: all 300ms ease;
      }
      &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 8px;
        color: var(--color-dark-blue-grey);
      }
      &:hover {
        .major__img {
          transform: rotate(-15deg) scale(1.3);
        }
      }
    }
  }
}

/* ==================================================
   Skills
================================================== */
#skills {
  background-color: var(--color-background-black);

  .skills {
    h2,
    p {
      color: var(--color-light-white);
    }
    h2 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .skillset {
    display: flex;
    background-color: transparent;
    color: var(--color-light-white);
    margin: 20px 0;
    &__title {
      color: var(--color-white);
    }

    &__left {
      flex-basis: 60%;
      background-color: #34363c;
      padding: 20px 40px;
      border-radius: 20px 0 0 20px;
      box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.46) inset,
        0 -5px 5px -4px rgba(0, 0, 0, 0.46) inset;

      .skill__section {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s;
        .skill {
          position: relative;
          display: flex;
          align-items: center;
          margin-bottom: 32px;
          .icon {
            width: 40px;
            margin-right: 10px;
            img {
              width: 100%;
            }
            .icon__transparent {
              background-color: var(--color-light-white);
              border-radius: 8px;
            }
          }
          &__info {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 84%;
            left: 60px;
            font-weight: bold;
            .skill__name {
              font-size: 14px;
              color: var(--color-light-white);
            }
            .skill__percent {
              font-size: 14px;
              color: var(--color-dark-blue-grey);
            }
          }
          &__progressbar {
            width: 100%;
            height: 24px;
            background-color: #ddd;
            border-radius: 10px;
            overflow: hidden;
            .skill__progress {
              height: 100%;
              background: rgb(247, 143, 15);
              background: linear-gradient(
                90deg,
                rgba(247, 143, 15, 1) 0%,
                rgba(255, 179, 0, 1) 48%,
                rgba(247, 143, 15, 1) 100%,
                rgba(0, 212, 255, 1) 100%
              );
              border-radius: 10px;
              width: 0;
              transition: width 1s ease-in-out;
            }
          }
        }
      }
    }

    &__right {
      flex-basis: 40%;

      .skill__uxui {
        background-color: #282a2f;
        border-radius: 0 20px 0 0;
        padding: 20px;

        .card__list {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 10px;
          .skill__ability {
            display: flex;
            align-items: center;
            flex-direction: column;
            .item__img {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              background-color: #34363c;
              margin: 0 10px;
              transition: 0.5s;
              z-index: 1;
            }
          }

          .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            z-index: 4;
            &__content {
              max-width: 50%;
              height: auto;
              background: white;
              border-radius: 5px;
              position: relative;
              max-height: 80vh;
              overflow-y: auto;
              padding-bottom: 20px;

              -ms-overflow-style: none; /* 인터넷 익스플로러 */
              scrollbar-width: none; /* 파이어폭스 */
              &::-webkit-scrollbar {
                display: none;
              }

              img {
                width: 300px;
                height: auto;
              }
            }
          }
          .modal.active {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
